<div class="dashboard-container">

  <div class="chart-card" *ngIf="monthlySales && monthlySales.series.length">
    <apx-chart
      [series]="monthlySales.series"
      [chart]="monthlySales.chart"
      [xaxis]="monthlySales.xaxis"
      [title]="monthlySales.title">
    </apx-chart>
  </div>

  <div class="chart-card" *ngIf="topSellingCycles && topSellingCycles.series.length">
    <apx-chart
      [series]="topSellingCycles.series"
      [chart]="topSellingCycles.chart"
      [xaxis]="topSellingCycles.xaxis"
      [title]="topSellingCycles.title">
    </apx-chart>
  </div>
  


  <div class="chart-card" *ngIf="inventorySummary && inventorySummary.series.length">
    <apx-chart
      [series]="inventorySummary.series"
      [chart]="inventorySummary.chart"
      [xaxis]="inventorySummary.xaxis"
      [title]="inventorySummary.title">
    </apx-chart>
  </div>

  <div class="chart-card full-width" *ngIf="yearlyRevenue && yearlyRevenue.series.length">
    <apx-chart
      [series]="yearlyRevenue.series"
      [chart]="yearlyRevenue.chart"
      [xaxis]="yearlyRevenue.xaxis"
      [title]="yearlyRevenue.title">
    </apx-chart>
  </div>
</div>

