<div class="background-wrapper">
<div class="order-container">
    <h2><img src="assets/logistics.png" class="cycle"> Order Management</h2>
    <br>
    <!-- Place Order -->
    <div class="order-form">
      <input [(ngModel)]="cycleId" type="number" placeholder="Cycle ID">
      <input [(ngModel)]="quantity" type="number" placeholder="Quantity">
      <select [(ngModel)]="customerId">
        <option [ngValue]="null" disabled>Select a Customer ID</option>
        <option *ngFor="let customer of customers"
                [value]="customer.id">
          {{ customer.id }}
        </option>
      </select>
      <button (click)="placeOrder()" >Place Order</button>
    </div>

    <div class="order-cards">
      <div class="order-card" *ngFor="let order of orders">
        <div class="card-header">
          <h3>Order #{{ order.id }}</h3>
          <span>Status: {{ order.status }}</span>
        </div>
    
        <div class="card-body">
          <p><strong>Cycle ID:</strong> {{ order.cycleId }}</p>
          <p><strong>User ID:</strong> {{ order.userId }}</p>
          <p><strong>Customer ID:</strong> {{ order.customerId }}</p>
          <p><strong>Quantity:</strong> {{ order.quantity }}</p>
          <p><strong>Date:</strong> {{ order.orderDate | date:'short' }}</p>
        </div>
    
        <div class="card-actions">
          <div *ngIf="role!=='Employee'">
            <select [(ngModel)]="statusUpdate[order.id]">
              <option *ngFor="let s of ['Pending', 'Approved', 'Shipped', 'Delivered']"
                      [value]="s"
                      [disabled]="statusPriority[s] < statusPriority[order.status]">
                {{ s }}
              </option>
            </select>
            <button class="button1" (click)="updateStatus(order.id)">Update</button>
            <button class="button2" (click)="deleteOrder(order.id, order.cycleId, order.quantity)">Delete</button>
          </div>
          <button class="add_to_cart" (click)="addToCart(order)" [disabled]="order.status.trim() === 'Delivered'">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div> 
  